{% extends "layout.html" %}
{% block content %}
    <h2 >Portland Area Services</h2>

    <h3> <a href="{{ url_for('sign') }}">Add a service</a></h3>
    <h3> <a href="{{ url_for('view_all') }}">View all services submitted</a></h3>

    <h3>Recent Submissions</h3>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.name }}&comma;
	    {{ entry.services }}&comma;
	    {{ entry.location }}&comma;
	    {{ entry.hours }}&comma;
	    {{ entry.phone }}&comma;
	    {{ entry.review }}
        </p>
    {% endfor %}

{% endblock %}
