<h1>Google Landmark Detection and Mapping</h1>

<p>This Python Flask application uses the Vision API landmark detection to determine
    the landmark in the photo. Then it is mapped using the Google Maps JS API
</p>

<br>

<html>
  <body>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
    {% for image_entity in image_entities %}
      <img src="{{image_entity['image_public_url']}}" width=auto height=300>
      <p>{{image_entity['blob_name']}} was uploaded {{image_entity['timestamp']}}.</p>
      <p>Landmark in photo: {{image_entity['landmark']}}</p>
      <p>Latitude: {{image_entity['lat']}}, Longitude: {{image_entity['long']}}</p> 
    {% endfor %}
  </body>
</html> 
